.product-card-test{
  background: #fff;
  border-radius: 0.5rem;
  min-width: 20rem;
  max-width: 20rem;
  box-shadow: var(--shadow-s);
}

.product-test{
  background: var(--bg);
  gap: 1rem;
  border-radius: 0.5rem;
}
