.product-card-text-secondary{
  margin-left: 0.7rem;
  font: 400 0.9rem/1.2em var(--ff);
  color: var(--text-muted);
  line-height: 1.3rem;
}
.product-card-text-main
{
  font: var(--nav-logo-font);
  margin: 0.7rem;
  line-height: 1.5rem;
}
