:root {
  /* bg-colors */
  --primary: oklch(0.9 0.17 100);
  --bg-dark: oklch(0.1 0 264);
  --bg: oklch(0.96 0 264);
  --bg-light: oklch(0.3 0 264);
  /* text-colors */
  --text: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);
  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
}
body {
  --ff: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
  --nav-cat-font: 500 1.05rem/1em var(--ff);
  --nav-logo-font: 600 1.05rem/1em var(--ff);
  background-color: #e9f0ff;
  color: #0b1736;
  margin: 0;

  /* bg-colors */
  --primary: oklch(0.65 0.15 264);
  --bg-dark: oklch(0.99 0 264);
  --bg-light: oklch(1 0 264);
  /* text-colors */
  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);
}
.nav-logo{
  font: var(--nav-logo-font) !important;
}
.nav-element {
  background: var(--bg-light);
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  border-radius: 0.5rem;
  box-shadow: var(--shadow-s);
  font: var(--nav-cat-font);
}

.category-card:hover{
  box-shadow: var(--shadow-l);
  cursor: pointer;
}
nav{
  background: var(--bg);
  border-radius: 0.5rem;
}
.category-nav{
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  padding: 0.7rem 0.7rem;
}
.category-card{
  background: var(--bg-light);
  box-shadow: var(--shadow-s);
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  padding: 0.7rem 0.7rem;
  --category-size: 15rem;
  width: var(--category-size);
  height: var(--category-size);
  font: var(--nav-logo-font);
}

.search-bar {
  background: var(--bg-light);
  box-shadow: var(--shadow-s);
  border-radius: 0.5rem;
  border: none;
  width: 30rem
}

a{
  text-decoration: none;
  color: inherit;
}

.product-card-text-secondary{
  margin-left: 0.7rem;
  font: 500 0.88rem/1.4em var(--ff);
  color: #3b4f7a;
}
.product-card-text-main
{
  font: 700 1rem/1.4em var(--ff);
  margin: 0.7rem;
  color: #0b1736;
}
